<!DOCTYPE html>
<html lang="es">

<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../css/bootstrap.min.css">

    <title>Algoritmos de Busqueda</title>
</head>

<body>
    <div class="container-md">
        <h2>Algoritmos de búsqueda informada</h2>
        <p class="pservices text-justify">Los algoritmos de búsqueda informada recurren a <strong>información específica del problema</strong> para reducir la cantidad de nodos a considerar, es decir estiman el costo del mejor camino a recorrer para transformar el estado representado
            por un nodo particular en el estado final y utilizan dicho valor para seleccionar el nodo que parece estar en el camino menos costoso [1].</p>
    </div>
</body>

</html>